# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# FIREBASE_DATABASE_URL: Your Firebase Realtime Database URL
FIREBASE_DATABASE_URL=https://crown-ludo-2-default-rtdb.firebaseio.com

# FIREBASE_API_KEY: Your Firebase Web API key
FIREBASE_API_KEY=AIzaSyCt34364nKPbtn4dtpx6QcQrMpipknBHZw

# FIREBASE_PROJECT_ID: Your Firebase Project ID
FIREBASE_PROJECT_ID=crown-ludo-2

# FIREBASE_APPLICATION_ID: Your Firebase Application ID
FIREBASE_APPLICATION_ID=1:1050963446182:android:d8c003b84d920238442767
